.name {
    font-size: 1.2em;
    font-family: 'M Plus Rounded 1c', sans-serif;
    color: white;
    border-radius: 0.25rem;
    text-align: center;
    padding: 15px 15px;
    min-width: 200px;
    min-height: 20px;
}
